@use '_reset';
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');

body {
    aspect-ratio: 900/600;
    width: 100%;
    background: url('../assets/stacked-waves-haikei.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #cabbdf;
    font-family: 'Nunito', sans-serif;
}

.main {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 100px;
    gap: 1rem;
    padding: 1.2rem;
    background-color: hsl(0 0% 100% / 0.5);
    border-radius: 2rem;

    &-container-btns {
        display: flex;
        gap: 1rem;
    }

    &-container-right {
        position: relative;
        text-align: center;
    }

    &-container-bottom {
        display: flex;
        gap: 1rem;
        grid-column: span 2;
    }

    &-hourly-open {
        display: flex;
        place-items: center;
        cursor: pointer;
        font-weight: bold;
        background-color: white;
        padding: 0 0.5rem;
        margin-top: 1rem;
        border: none;
        border-radius: 100vmax;
        height: 2rem;

        &:hover {
            background-color: #cabbdf;
            outline: 4px solid white;
            outline-offset: -4px;
        }
    }

    &-desc {
        text-transform: capitalize;
    }

    &-temp {
        position: absolute;
        top: 0.25rem;
        left: 0.5rem;
    }

    &-search {
        display: flex;
        align-items: center;
        background-color: white;
        padding: 0 0.25rem;
        border-radius: 100vmax;
    }

    &-search-input {
        border: none;
        background: none;
        padding: 0 0.5rem;
        width: 100%;
        min-width: 0;

        &:focus {
            outline: none;
        }
    }

    &-search-btn {
        border: none;
        background-color: #cabbdf;
        padding: 0 0.5rem;
        cursor: pointer;
        border-radius: 100vmax;

        & svg {
            min-width: 24px;
            min-height: 24px;
        }
    }

    &-units {
        position: relative;
        display: inline-block;
        font-size: 16px;
        min-width: 3.5em;
        height: 2em;

        &-checkbox {
            opacity: 0;
            width: 0;
            height: 0;
        }

        &-slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: white;
            transition: 0.4s;
            border-radius: 100vmax;
        }

        &-slider:before {
            content: '°C';
            position: absolute;
            display: grid;
            place-content: center;
            color: black;
            font-weight: bold;
            height: 1.5em;
            width: 1.5em;
            left: 0.25em;
            bottom: 0.25em;
            border-radius: 100vmax;
            background-color: #cabbdf;
            transform: translateX(0);
            transition: transform 0.4s;
        }

        &-checkbox:checked + &-slider:before {
            content: '°F';
            transform: translateX(1.5em);
        }
    }

    &-error {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        bottom: -2.5rem;
        width: calc(100% - 2rem);
        height: 2rem;
        background-color: white;
        border-radius: 100vmax;
        padding: 0 1rem;
        pointer-events: none;
        opacity: 0;
        transform: rotateX(-90deg);
        transform-style: preserve-3d;
        transform-origin: 100% 0%;
        transition: transform 300ms ease-in, opacity 300ms ease-in;

        &.is-active {
            opacity: 1;
            transform: rotateX(0);
        }

        &-text {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: pre;
        }
    }

    &-extra {
        position: absolute;
        inset: 1rem;
        background-color: white;
        border-radius: 1rem;
        transform: scale(0);
        transition: transform 300ms ease-in;

        &.is-active {
            transform: scale(1);
        }

        &-close {
            position: absolute;
            cursor: pointer;
            top: 0.5rem;
            right: 0.5rem;
            background-color: #cabbdf;
            padding: 0;
            border: none;
            border-radius: 50%;
        }
    }
}
