@use '_reset';
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');

:root {
    --fs-400: 1rem;
    --fs-600: 1.2rem;
    --fs-700: 1.5rem;

    --fw-300: 300;
    --fw-400: 400;
    --fw-600: 600;
    --fw-700: 700;

    --clr-bg-light: hsl(0 0% 100% / 0.5);
    --clr-bg-white: hsl(0 0% 100% / 1);

    --clr-primary-accent: hsl(265 36% 80%);
    --clr-danger: hsl(0 100% 75%);
}

/* Custom scrollbar for webkit browsers */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {
    border-radius: 100vmax;
}

::-webkit-scrollbar-thumb {
    background: var(--clr-primary-accent);
    border-radius: 100vmax;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--clr-primary-accent);
    outline: 2px solid var(--clr-primary-accent);
}

body {
    aspect-ratio: 900/600;
    width: 100%;
    background: url('../assets/stacked-waves-haikei.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: var(--clr-primary-accent);
    font-family: 'Nunito', sans-serif;
}

.main {
    position: relative;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    padding: 2rem 0.5rem;
}

.card {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 6.25rem;
    grid-template-rows: 1fr;
    gap: 1rem;
    padding: 1.2rem;
    background-color: var(--clr-bg-light);
    border-radius: 2rem;
    min-height: 15.625rem;
    max-width: 25rem;
    min-width: min-content;
    width: 100%;
    z-index: 10;

    &-container-left {
        display: grid;
    }

    &-container-btns {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;
        align-self: end;
    }

    &-container-right {
        position: relative;
        text-align: center;
    }

    &-container-bottom {
        display: flex;
        gap: 1rem;
        grid-column: span 2;
    }

    &-location {
        font-size: var(--fs-700);
        font-weight: var(--fw-700);
    }

    &-btn-open {
        display: flex;
        place-items: center;
        cursor: pointer;
        font-weight: var(--fw-700);
        background-color: var(--clr-bg-white);
        padding: 0 0.5rem;
        margin-top: 1rem;
        border: none;
        border-radius: 100vmax;
        height: 2rem;

        &:hover,
        &:focus-visible {
            background-color: var(--clr-primary-accent);
            outline: 4px solid var(--clr-bg-white);
            outline-offset: -4px;
        }
    }

    &-desc {
        font-size: var(--fs-600);
        font-weight: var(--fw-600);
        text-transform: capitalize;
    }

    &-temp {
        position: absolute;
        top: 0.25rem;
        left: 0.5rem;
        font-size: var(--fs-600);
        font-weight: var(--fw-700);
    }

    &-search {
        display: flex;
        align-items: center;
        background-color: var(--clr-bg-white);
        padding: 0 0.25rem;
        border-radius: 100vmax;
    }

    &-search-input {
        border: none;
        background: none;
        padding: 0 0.5rem;
        width: 100%;
        min-width: 0;

        &:focus {
            outline: none;
        }
    }

    &-search-btn {
        border: none;
        background-color: var(--clr-primary-accent);
        padding: 0 0.5rem;
        cursor: pointer;
        border-radius: 100vmax;

        & svg {
            height: 1.5rem;
            width: 1.5rem;
        }
    }

    &-units {
        position: relative;
        display: inline-block;
        min-width: 3.5em;
        height: 2em;

        &-checkbox {
            opacity: 0;
            width: 0;
            height: 0;
        }

        &-slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: var(--clr-bg-white);
            transition: 0.4s;
            border-radius: 100vmax;
        }

        &-slider:before {
            content: '°C';
            position: absolute;
            display: grid;
            place-content: center;
            color: black;
            font-weight: var(--fw-700);
            height: 1.5em;
            width: 1.5em;
            left: 0.25em;
            bottom: 0.25em;
            border-radius: 100vmax;
            background-color: var(--clr-primary-accent);
            transform: translateX(0);
            transition: transform 0.4s;
        }

        &-checkbox:checked + &-slider:before {
            content: '°F';
            transform: translateX(1.5em);
        }
    }

    &-error {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        bottom: -2.5rem;
        width: calc(100% - 2rem);
        height: 2rem;
        background-color: var(--clr-bg-white);
        border-radius: 100vmax;
        padding: 0 1rem;
        pointer-events: none;
        opacity: 0;
        transform: rotateX(-90deg);
        transform-style: preserve-3d;
        transform-origin: 100% 0%;
        transition: transform 300ms ease-in, opacity 300ms ease-in;

        &.is-active {
            opacity: 1;
            transform: rotateX(0);
        }

        &-text {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: pre;
        }
    }

    &-extra {
        position: absolute;
        inset: 1rem;
        display: grid;
        align-items: center;
        background-color: var(--clr-bg-white);
        border-radius: 1rem;
        padding: 1.5rem 1rem 1rem;
        transform: scale(0);
        transition: transform 300ms ease-in;

        &.is-active {
            transform: scale(1);
        }

        &-header {
            position: absolute;
            top: 0.2rem;
            left: 1.5rem;
            font-size: var(--fs-700);
        }

        &-hourly,
        &-daily {
            display: flex;
            place-items: center;
            gap: 1rem;
            height: 100%;
            width: 100%;
            background-color: var(--clr-bg-white);
            overflow-x: auto;
            overflow-x: overlay;
        }

        &-item {
            flex-shrink: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            height: max-content;
            padding: 0.5rem 0;
            background-color: var(--clr-primary-accent);
            border-radius: 1rem;
        }

        &-title {
            text-align: center;
            font-weight: var(--fw-700);
            width: 100%;
            margin-bottom: -1rem;
        }

        &-img {
            width: 6.25rem;
        }

        &-temp {
            display: flex;
            justify-content: space-around;
            width: 100%;
            margin-top: -1rem;
            font-weight: var(--fw-700);
        }

        &-close {
            position: absolute;
            cursor: pointer;
            top: 0.5rem;
            right: 0.5rem;
            padding: 0;
            background-color: var(--clr-bg-white);
            border: none;
            border-radius: 50%;

            &:hover,
            &:focus {
                background-color: var(--clr-danger);
            }

            & svg {
                height: 1.5rem;
                width: 1.5rem;
            }
        }
    }

    &-save {
        position: absolute;
        top: -0.5rem;
        right: 1.5rem;
        cursor: pointer;

        & svg {
            height: 2.25rem;
            width: 2.25rem;
        }
    }
}

.stored {
    position: relative;
    display: flex;
    align-items: center;
    background-color: var(--clr-bg-light);
    border-radius: 2rem;
    min-height: 13.75rem;
    max-width: 25rem;
    width: 100%;
    padding: 2rem 1.2rem 1.2rem;
    visibility: collapse;

    &.is-active {
        visibility: visible;
    }

    &-header {
        position: absolute;
        top: 0.5rem;
        left: 1.5rem;
        font-size: var(--fs-700);
        font-weight: var(--fw-700);
    }

    &-container {
        display: flex;
        align-items: center;
        gap: 1rem;
        padding: 1rem 0;
        overflow-x: auto;
        overflow-x: overlay;
    }

    &-item {
        position: relative;
        display: grid;
        place-content: center;
        flex-shrink: 0;
        text-align: center;
        padding: 0.5rem;
        background-color: var(--clr-bg-white);
        border-radius: 1rem;
        width: 7.5rem;
        height: 8.75rem;
        cursor: pointer;

        &-title {
            font-size: var(--fs-600);
            font-weight: var(--fw-700);
            margin-bottom: -1rem;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: pre;
        }

        &-img {
            width: 6.25rem;
        }

        &-time {
            margin-top: -1rem;
            font-weight: var(--fw-700);
        }

        &-temp {
            position: absolute;
            top: 2.25rem;
            left: 0.5rem;
            font-size: var(--fs-400);
            font-weight: var(--fw-700);
        }
    }
}

@media screen and (min-width: 800px) {
    .stored {
        position: absolute;
        min-height: 100%;
        min-width: 100%;
        background: none;
        padding: 1rem;

        &-header {
            display: none;
        }

        &-container {
            position: absolute;
            inset: 0;
            padding: 1rem;
            justify-content: center;
        }

        &-item {
            position: absolute;
            opacity: 0;
            visibility: collapse;
            transition: opacity 500ms ease-in, visibility 500ms;

            &:nth-of-type(1) {
                transform: translateY(-240px);
                transition-delay: 200ms;
            }

            &:nth-of-type(2) {
                transform: rotate(45deg) translateY(-300px) rotate(-45deg);
                transition-delay: 400ms;
            }

            &:nth-of-type(3) {
                transform: translateX(300px);
                transition-delay: 600ms;
            }

            &:nth-of-type(4) {
                transform: rotate(45deg) translateX(300px) rotate(-45deg);
                transition-delay: 800ms;
            }

            &:nth-of-type(5) {
                transform: translateY(250px);
                transition-delay: 1000ms;
            }

            &:nth-of-type(6) {
                transform: rotate(45deg) translateY(300px) rotate(-45deg);
                transition-delay: 1200ms;
            }

            &:nth-of-type(7) {
                transform: translateX(-300px);
                transition-delay: 1400ms;
            }

            &:nth-of-type(8) {
                transform: rotate(45deg) translateX(-300px) rotate(-45deg);
                transition-delay: 1600ms;
            }

            &.is-active {
                visibility: visible;
                opacity: 1;
            }
        }
    }
}

.footer {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 999;

    &-link {
        display: flex;
        align-items: center;
        gap: 0.2rem;
        text-decoration: none;
        color: inherit;
        padding: 0.2rem 1rem 0;
        border-radius: 1rem 0 0 0;
        background-color: var(--clr-bg-white);

        &:hover {
            color: #947ab3;
        }

        & svg {
            height: 1.2rem;
            width: 1.2rem;
        }
    }
}

/* From uiverse.io by @G4b413l */
.dot-wave {
    --uib-size: 30px;
    --uib-speed: 0.6s;
    --uib-color: var(--clr-bg-white);
    position: absolute;
    top: 10px;
    justify-self: center;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    width: var(--uib-size);
    height: calc(var(--uib-size) * 0.17);
    padding-top: calc(var(--uib-size) * 0.34);
}

.dot-wave__dot {
    flex-shrink: 0;
    width: calc(var(--uib-size) * 0.17);
    height: calc(var(--uib-size) * 0.17);
    border-radius: 50%;
    background-color: var(--uib-color);
    will-change: transform;
}

.dot-wave__dot:nth-child(1) {
    animation: jump824 var(--uib-speed) ease-in-out calc(var(--uib-speed) * -0.45) infinite;
}

.dot-wave__dot:nth-child(2) {
    animation: jump824 var(--uib-speed) ease-in-out calc(var(--uib-speed) * -0.3) infinite;
}

.dot-wave__dot:nth-child(3) {
    animation: jump824 var(--uib-speed) ease-in-out calc(var(--uib-speed) * -0.15) infinite;
}

.dot-wave__dot:nth-child(4) {
    animation: jump824 var(--uib-speed) ease-in-out infinite;
}

@keyframes jump824 {
    0%,
    100% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-200%);
    }
}

// Display none utility class
.display-none {
    display: none;
}
