@use '_reset';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap');

body {
    aspect-ratio: 900/600;
    width: 100%;
    background: url('../assets/stacked-waves-haikei.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #cabbdf;
    font-family: 'Inter', sans-serif;
}

.main {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card {
    display: grid;
    grid-template-columns: 1fr 100px;
    gap: 1rem;
    padding: 1rem;
    background-color: hsl(0 0% 100% / 0.5);

    &-container-right {
        position: relative;
        text-align: center;
    }

    &-container-bottom {
        display: flex;
        gap: 1rem;
        grid-column: span 2;
    }

    &-desc {
        text-transform: capitalize;
    }

    &-temp {
        position: absolute;
        top: 0.5rem;
        left: 1rem;
    }

    &-search {
        display: flex;
        align-items: center;
        border: 2px solid white;
        border-radius: 100vmax;
    }

    &-search-input {
        border: none;
        background: none;
        padding: 0 0 0 0.5rem;

        &:focus {
            outline: none;
        }
    }

    &-search-btn {
        border: none;
        background: none;
        padding: 0 0.5rem;
        cursor: pointer;
    }

    &-units {
        position: relative;
        display: inline-block;
        font-size: 16px;
        width: 3.5em;
        height: 2em;

        &-checkbox {
            display: none;
        }

        &-slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: white;
            transition: 0.4s;
            border-radius: 30px;
        }

        &-slider:before {
            content: '°C';
            position: absolute;
            display: grid;
            place-content: center;
            color: black;
            font-weight: bold;
            height: 1.6em;
            width: 1.6em;
            left: 0.2em;
            bottom: 0.2em;
            border-radius: 20px;
            background-color: #cabbdf;
            transform: translateX(0);
            transition: transform 0.4s;
        }

        &-checkbox:checked + &-slider:before {
            content: '°F';
            transform: translateX(1.5em);
        }
    }
}
